node_modules/
npm-debug.log
.vscode/
dist/maplibre-gl-draw-plus.js
dist/maplibre-gl-draw-plus.js.map
dist/maplibre-gl-draw-plus-unminified.js
dist/maplibre-gl-draw-plus-unminified.js.map
dist/bench.js
dist/bench.js.map
coverage/
.nyc_output/
debug/access_token_generated.js
